<Project xmlns="http://schemas.postsharp.org/1.0/configuration">
	<License Value="112202-ZTBR8QQQVQ2ETXED6MTWWTWE36KLXGSRV8MYQYRFCMEHX5FABA4QV332RP27ZMGCF23PQQSC57HUZ38L6U68GFC5DGP2GP8QGPZLPYRAQTWEUCRZAUPA"/>
	<Multicast>
		<When Condition="{has-plugin('PostSharp.Patterns.Diagnostics')}">
			<LogAttribute xmlns="clr-namespace:PostSharp.Patterns.Diagnostics;assembly:PostSharp.Patterns.Diagnostics" />
		</When>
	</Multicast>
</Project>